
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #dc143c;
    color: #333;
    line-height: 1.6;
}


header {
    background: white; /* Warna Biru Kampus */
    color: white;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.header-logo{
    height: 100px;
    width: auto;
    display: block;
    padding: 5px;
}

.logo {
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: darkred;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #ffcc00;
}


.hero {
    height: 60vh; /* Tinggi hero 60% dari layar */
    /* Menggabungkan gradient gelap dan gambar background */
    background: 
                url('assets/kampus1.jpg') center/cover no-repeat;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5); /* Agar teks lebih tajam */
}

.hero p {
    font-size: 1.2rem;
    max-width: 700px;
}


.hero p {
    font-size: 1.2rem;
    max-width: 700px;
}



.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex; /* Laptop: Samping-sampingan */
    gap: 20px;
}

.main-content {
    flex: 3;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.sidebar {
    flex: 1;
    background: #eef2f7;
    padding: 20px;
    border-radius: 10px;
    height: fit-content;
}


.grid-prodi {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

/* --- FOOTER --- */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 30px 10px;
    margin-top: 40px;
}



@media (max-width: 768px) {
    /* Header jadi vertikal atau menu disembunyikan */
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        margin-top: 15px;
        flex-direction: column; /* Menu berjejer ke bawah di HP */
        gap: 10px;
    }

    nav ul li {
        margin-left: 0;
    }

    /* Kontainer utama jadi satu kolom */
    .container {
        flex-direction: column;
    }

    .hero h1 {
        font-size: 1.8rem;
    }

    .sidebar {
        order: 2; /* Sidebar pindah ke bawah konten utama di HP */
    }
}
